@import "reset";

$header-color:#34de2a;
$main-color:#709961;
$footer-color:#ff0333;
$font-size:24px;

@mixin setFont($value) {
    @if $value == small {
      font-size: 12px;
    }
    @else if $value == medium {
        font-size: 18px;
      }
    @else if $value == large {
        font-size: 22px;
      }
      @else{
        font-size: 32px;
      }
}

@mixin test {
    text-align: center;
    color: #fff;
}
  
h1{
    background-color:$header-color;
    @include test;
}
h2{
    background-color: $main-color;
    @include test;
}
footer{
    background-color: $footer-color;
    @include test;
    
}
p{
    color: $footer-color;
    font-size:$font-size;
}
ul{
    margin-top: 20px;
    li{
        display: inline-block;
        padding: 10px;
        border-radius: 10px;
        transition: .4s;
        @include setFont(medium);
    }
    li:hover{
        background-color: $header-color;
    }
}
.ok{
    padding: 10px;
    @include test;
    background-color: rgb(56, 10, 109);
    border-radius: 30px;
    outline: none;
    transition: .4s;
    margin-left: 30px;
}
.love{
    @extend .ok;
}
    
